<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://radishhorse.github.io">#TEAMRADISHHORSE</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class="">
			<a href="http://radishhorse.github.io"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> There is nothing in this list <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""> Wow </li>
                    <li class=""> Why would I lie about that? </li>
                    <li class="divider"></li>
                    <li class=""> There is honestly nothing here :) </li>
				</ul>
			 </li>
	  </div>
	</div>
  </div>
</div>
